#loadd
{
    display: none;
}
#by
{
    display: none;
}
.succes
{
    color : white;
    padding : 5px;
    margin-top: 5px;
    margin-bottom: 15px ;
    background-color: green;
}
.error
{
    color : white;
    padding : 5px;
    margin-top: 5px;
    margin-bottom: 15px ;
    background-color: red;
}
@font-face {
    font-family: "CustomFont";
    src: url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
    }

    td{
        font-family: 'Cairo';
    }